@{
    ViewData["Title"] = "Home Page";
}
@inject Currency.Data.ApplicationDbContext db
@model Currency.Model.ResultModel


<form asp-controller="Home" asp-action="Index" method="post" class="form">
    <div>
        <select asp-for="from">
            @foreach (var item in db.ExchangeRates.Select(x => x.NameOfValue))
            {
                <option val="1">@item</option>
            }
        </select>

        <select asp-for="to">
            @foreach (var item in db.ExchangeRates.Select(x => x.NameOfValue))
            {
                <option val="1">@item</option>
            }
        </select>

        <input asp-for="amound">Amound:<br>
    </div>
    <input type="submit" value="Convert">
</form>

